


html, body, .all { height: 100%; margin: 0; }

.all {
  display: grid;
  grid-template-columns: 171.9px 226.8px 300.1px 220.9px 143.1px;
  grid-template-rows: 92.9px 94.3px 121.1px 254.5px 300px;
  gap: 10px 0px;
  grid-template-areas:
    ". . . . ."
    ". header header . ."
    ". can can tool ."
    ". can can bar ."
    ". . . . .";
  background-color:#5cc5c2;
}
.can { 
  grid-area: can; 
}

#myCanvas{
  background-color : white;
}
.tool { 
  grid-area: tool;
  background-color: #E5E338;
  border-radius: 12px;
  align-items: center;
  border: 3px solid black;
 }

.bar { 
  grid-area: bar;
  background-color: #EC5768;
  border-radius: 12px;
  align-items: center;
  border: 3px solid black;
 }

.header { 
  font:100px Brush Script MT;
  grid-area: header;
  color:#f04156;
  text-align: center;
  text-shadow: black;
  outline-color: black;
 }
#fill{
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.body input:checked ~ .checkmark {
  background-color: #090b0e;
}


.btn{
    width: 40px;
    height: 40px;
    border: 1px #4EC5C1;
    margin: 3px;
    background-color: rgb(240, 134, 134)56;
    border-radius: 12px;
    outline:#4EC5C1;
}

.btn:hover{
  background-color:lightgray;
  
}


.btn:focus{
  background-color:darkgray;
  opacity: 0.7;
  outline: none;
}

#inputimage {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#inputfile + label {
	 cursor: pointer; /* "hand" cursor */
}
#radius {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  #radius:hover {
    opacity: 1;
  }
  
  #radius::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background:#4EC5C1;
    cursor: pointer;
  }
  
  #radius::-moz-range-thumb {
    width: 10px;
    height: 20px;
    background: #4EC5C1;
    cursor: pointer;
  }